Sundram/pkgs/Wadl/PowerApp-%3eCreateanewrow.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerApp-&gt;Createanewrow" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PowerApp -&gt; Create a new row" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Createanewrow_QueryTitle_def" />
      <string name="ManualTriggerInput_Createanewrow_Customer_ux28_Agencies_ux29__def" />
      <string name="ManualTriggerInput_Createanewrow_Description_def" />
      <string name="ManualTriggerInput_Createanewrow_SubjectText_def" />
      <string name="ManualTriggerInput_Createanewrow_Sector_ux28_Sectors_ux29__def" />
      <object name="ManualTriggerInput">
        <property name="Createanewrow_QueryTitle" type="string" />
        <property name="Createanewrow_Customer(Agencies)" type="string" />
        <property name="Createanewrow_Description" type="string" />
        <property name="Createanewrow_SubjectText" type="string" />
        <property name="Createanewrow_Sector(Sectors)" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Createanewrow_QueryTitle" path="/Createanewrow_QueryTitle" type="xs:string" required="true" />
            <param style="plain" name="Createanewrow_Customer(Agencies)" path="/Createanewrow_Customer(Agencies)" type="xs:string" required="true" />
            <param style="plain" name="Createanewrow_Description" path="/Createanewrow_Description" type="xs:string" required="true" />
            <param style="plain" name="Createanewrow_SubjectText" path="/Createanewrow_SubjectText" type="xs:string" required="true" />
            <param style="plain" name="Createanewrow_Sector(Sectors)" path="/Createanewrow_Sector(Sectors)" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>